%allButton {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #008F48;
  color: #008F48;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  background-color: green;
  display: inline-block;
  vertical-align: sub;
  transition: 0.2s linear;
  mask: {
    size: 90%;
    repeat: no-repeat;
    position: center center;
  };
  -webkit-mask: {
    size: 90%;
    repeat: no-repeat;
    position: center center;
  };
}

.icon-phone {
  mask-image: url("/icon/phone.svg");
  -webkit-mask-image: url("/icon/phone.svg");
}

.admin-navbar {
  height: 50px;
  border: 1px solid red;
}

.admin-layout {
  display: flex;

  .left-side {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: calc(100vh - 50px);
    background-color: #00AB7E;
    padding: 20px 35px;

    .admin {
      .circle {
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        background: {
          image: url("/icon/user.png");
          size: 50%;
          repeat: no-repeat;
          position: center center;
        };

       /* img {
          width: 60%;
        }*/
      }

      .userName {
        margin-left: 20px;
        font-weight: bold;
        font-size: 20px;
        color: white;

        .status {
          font-size: 14px;
        }
      }
    }

    .nav {
      margin-top: 50px;

      .nav-link {
        font-size: 18px;
        font-weight: bold;
        color: white;
        padding-left: 0;
      }
    }

  }

  .right-side {
    padding: 20px 50px;
    width: calc(100vw - 300px);
    height: calc(100vh - 50px);
    overflow-y: scroll;
  }
}

.header {
  .navbar-top {
    background: #FAFAFA !important;
    height: 80px !important;

    .navbar-brand {
      margin-right: 60px !important;

      .home-back {
        position: relative;
      }

      .home {
        position: absolute;
        top: 35%;
        left: 21.5%;
      }
    }

    .collapse {
      .navbar-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        div {
          display: flex;
          align-items: center;

          .language {
            margin-right: 45px;
          }

          .btn {
            border-radius: 10px !important;

            &:hover {
              .icon {
                background-color: white;
              }
            }

            .icon {
              margin-right: 8px;
            }
          }
        }

        .nav-item {
          .nav-link {
            transition: all 0.2s linear;

            .position-relative {
              box-shadow: 0 2px 2px rgba(204, 204, 204, 0.51);
              border-radius: 10px;
            }

            .input {
              input[type="text"] {
                width: 401px;
                padding-left: 35px;
              }
            }
          }
        }
      }
    }
  }

  .navbar-bottom {
    background: #FFFFFF !important;
    box-shadow: 0 2px 2px rgba(204, 204, 204, 0.51);
    height: 70px !important;

    .navbar-brand {
      margin-right: 35px !important;
      width: 40px;
      height: 40px;
      background: #008F48;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }


  }
}

.header-carousel {
  height: calc(100vh - 150px);
  background: {
    image: url("/icon/header-img.png");
    repeat: no-repeat;
    size: cover;
    position: center center;
  };

  .item {
    padding-top: 60px;
    text-align: center;

    .text {
      font-weight: 600;
      font-size: 32px;
      line-height: 42px;
      color: white;
      margin-top: 53px;
    }
  }

  .slick-slider {
    width: 100%;
    height: calc(100vh - 150px);
    overflow-x: hidden;
    overflow-y: auto;

    .slick-dots {
      height: 20px;
      bottom: 30px;

      li {
        button {
          &::before {
            font-size: 15px;
          }
        }
      }
    }

    .slick-prev {
      left: 50px;
      z-index: 10000;
      background: rgba(166, 166, 166, 0.7);
      backdrop-filter: blur(4px);
      width: 40px;
      height: 40px;
      border-radius: 50%;

      &:before {
        content: url("/icon/prev.png");
      }
    }

    .slick-next {
      right: 50px;
      background: rgba(166, 166, 166, 0.7);
      backdrop-filter: blur(4px);
      width: 40px;
      height: 40px;
      border-radius: 50%;

      &:before {
        content: url("/icon/next.png");
      }
    }
  }
}

.section-second {
  background-color: #FAFAFA;
  padding-top: 100px;
  position: relative;
  padding-bottom: 20px;

  .main-title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 50px;
  }

  .slick-slider {
    position: unset;

    .slick-prev {
      top: -75px;
      left: 1033px;
      z-index: 1000;
      background: rgba(166, 166, 166, 0.7);
      backdrop-filter: blur(4px);
      width: 32px;
      height: 32px;
      border-radius: 10px;

      &:before {
        content: url("/icon/prev.png");
      }
    }

    .slick-next {
      top: -75px;
      right: 23px;
      z-index: 1000;
      background: rgba(166, 166, 166, 0.7);
      backdrop-filter: blur(4px);
      width: 32px;
      height: 32px;
      border-radius: 10px;

      &:before {
        content: url("/icon/next.png");
      }
    }
  }


  .report-carousel {
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 10px;

    .box-shadow {
      transition: all 0.4s linear;
      margin-right: 1rem;
      border-radius: 10px;
      padding-bottom: 35px;
      background-color: #FFFFFF;

      &:hover {
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
      }

      .top-img {
        width: 100%;
        height: 220px;

        img {
          width: 100%;
          height: auto;
          border-bottom: 3px solid #efefef;
        }
      }

      .report-body {
        padding-top: 20px;

        &:hover {
          .report-ad {
            color: #008F48;
          }

          .report-btn {
            background-color: #008F48;
            color: #FFFFFF;
          }
        }

        .info-date {
          display: flex;
          justify-content: space-around;
          align-items: center;

          div {
            display: flex;
            align-items: center;
            opacity: 0.5;
            margin-top: 5px;
          }
        }

        .report-ad {
          height: 50px;
          font-weight: 600;
          font-size: 18px;
          margin-top: 30px;
          transition: all 0.3s linear;
          padding-left: 21px;
        }

        .reportBody-title {
          width: 290px;
          font-size: 16px;
          line-height: 24px;
          margin-top: 15px;
          opacity: 0.7;
          padding-left: 21px;
        }

        .report-btn {
          @extend %allButton;
          margin-top: 22px;
          transition: all 0.3s linear;
          margin-left: 21px;
        }
      }

    }
  }
}

.section-third {
  background-color: #FAFAFA;
  padding-top: 100px;
  position: relative;
  padding-bottom: 105px;

  .company-news {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 50px;
  }

  .slick-slider {
    position: unset;

    .slick-prev {
      top: -75px;
      left: 1033px;
      z-index: 1000;
      background: rgba(166, 166, 166, 0.7);
      backdrop-filter: blur(4px);
      width: 32px;
      height: 32px;
      border-radius: 10px;

      &:before {
        content: url("/icon/prev.png");
      }
    }

    .slick-next {
      top: -75px;
      right: 23px;
      z-index: 1000;
      background: rgba(166, 166, 166, 0.7);
      backdrop-filter: blur(4px);
      width: 32px;
      height: 32px;
      border-radius: 10px;

      &:before {
        content: url("/icon/next.png");
      }
    }
  }


  .report-carousel {
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 10px;

    .box-shadow {
      transition: all 0.4s linear;
      margin-right: 1rem;
      border-radius: 10px;
      padding-bottom: 35px;
      background-color: #FFFFFF;

      &:hover {
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
      }

      .top-img {
        width: 100%;
        height: 220px;

        img {
          width: 100%;
          height: auto;
          border-bottom: 3px solid #efefef;
        }
      }

      .report-body {
        padding-top: 20px;

        &:hover {
          .report-ad {
            color: #008F48;
          }

          .report-btn {
            background-color: #008F48;
            color: #FFFFFF;
          }
        }

        .info-date {
          display: flex;
          justify-content: space-around;
          align-items: center;

          div {
            display: flex;
            align-items: center;
            opacity: 0.5;
            margin-top: 5px;
          }
        }

        .report-ad {
          height: 50px;
          font-weight: 600;
          font-size: 18px;
          margin-top: 30px;
          transition: all 0.3s linear;
          padding-left: 21px;
        }

        .reportBody-title {
          width: 290px;
          font-size: 16px;
          line-height: 24px;
          margin-top: 15px;
          opacity: 0.7;
          padding-left: 21px;
          height: 72px;
        }

        .report-btn {
          @extend %allButton;
          margin-top: 22px;
          transition: all 0.3s linear;
          margin-left: 21px;
        }
      }

    }
  }
}


.main {
  width: 100%;
  background: linear-gradient(88.68deg, #FFFFFF 36.84%, #E7E7EB 74.27%), #FFFFFF;
  box-shadow: 0 2px 2px #DCDCDC;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .tick {
    margin-left: 36px;
    Width: 207px;
    Height: 206px;
  }

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 55px;
    color: #0D374B;
    margin: 48px 0;
  }

  .send {
    margin: 78px 0;
  }

  .planshet {
    Width: 309px;
    Height: 206px;
  }
}

.TabContent {
  margin: 105px 0;

  .main-title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #000000;
    padding-bottom: 22px;
  }

  .nav-tabs {
    border: none !important;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0 2px 2px rgba(204, 204, 204, 0.51);
    border-radius: 5px;

    .nav-item {
      transition: .2s linear;

      .active.nav-link {
        background: #28a745 !important;
        color: #FFFFFF !important;
      }

      &:hover {
        color: #218838 !important;
        cursor: pointer;
      }

      .nav-link {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
        border: none !important;
        color: #000000;
        padding: 15px 28px;
      }
    }
  }

  .tab-content {
    padding-top: 45px;

    .tab-pane {
      .row {
        .col-md-4 {
          .card {
            background: #FFFFFF;
            box-shadow: 0 5px 15px #D2D2D2;
            border-radius: 10px !important;
            transition: 0.3s linear;

            .camera {
              position: absolute;
              top: 97px;
              left: 160px;
              transition: 0.2s linear;
            }
          }

          .card-img {
            height: 220px !important;
            filter: blur(2px);
            border-radius: 10px 10px 0 0;
            overflow: hidden;
            position: relative;
            transition: 0.3s linear;
          }

          &:hover {
            cursor: pointer;

            .card {
              box-shadow: none;

              .camera {
                opacity: 0;
              }
            }

            .card-img {
              filter: blur(0);
            }

            .card-body {
              .title {
                color: #008F48;

              }

              .bottom {
                opacity: 0.4;
              }
            }
          }

          .card-body {
            .title {
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 24px;
              color: #000000;
              margin-bottom: 40px;
              transition: 0.3s linear;
            }

            .bottom {
              display: flex;
              justify-content: space-between;
              align-items: center;
              transition: .3s linear;

              .time, .seen, .message {
                display: flex;
                align-items: center;
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}

.Services {
  padding-bottom: 105px;
  .col-md {
    transition: 0.3s linear;
    cursor: pointer;

    &:hover {
      background: rgba(0, 143, 72, 0.45);
      filter: blur(4px);

      .none {
        opacity: 1;
        filter: blur(0);
        z-index: 5;
      }
    }

    .none {
      opacity: 0;
      transition: .3s linear;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
      position: absolute;
      top: 120px;
      left: 40px;
      z-index: 5;
    }
  }

  .picture {
    Width: 90px;
    Height: 90px;
    margin: 30px auto;
    position: relative;

    img {
      width: 100%;
    }
  }

  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    opacity: 0.7;
    margin-bottom: 30px;
  }
}

.footer {
  background-color: #5E5E5E;
  padding-top: 80px;
  height: 400px;

  .footer-title {
    font-weight: 500;
    font-size: 26px;
    color: #FFFFFF;
  }

  .footer-address {
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 35px;
  }

  .footer-info, .footer-services, .footer-connect{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 38px;
  }

  .footer-link {
    font-size: 18px;
    a {
      color: #d2d2d2;
      transition: all 0.4s linear;
      opacity: 0.7;
      &:hover {
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }
}

